<body>
  <nav>
    <div class="left-section">
      <a href="pagina1.html"><img src="../../../assets/img/banners/logo.jpg" alt="Enlace Izquierdo"></a>
      <div class="icono">
        <h3>Busca tu vehículo</h3>
      </div>
    </div>

    <div class="search-bar">
      <input
        #vinInput
        (input)="onInputChange(vinInput.value)"
        placeholder="Escribe el VIN"
        type="text"
      >
      <button a class="blue-button"(click)="consulta(vinInput.value)">
        <a  class="blue-button" href="">Buscar</a>
      </button>
    </div>

    <div class="right-section">
      <a class="userimage" href="pagina2.html"><img src="../../../assets/img/banners/user.jpg" alt="Enlace Derecho"></a>
    </div>
  </nav>
</body>

