<nav class="navbar navbar-expand-lg bg-body-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo-navbar" src="../../../assets/img/banners/logo.jpg" alt="Logo Autoparts">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item seleccionable" routerLinkActive="active fw-bold">
          <a class="nav-link" (click)="irA('/')">Home</a>
        </li>
        <li class="nav-item seleccionable" routerLink="find-by-vin" routerLinkActive="active fw-bold">
          <a class="nav-link" (click)="irA('find-by-vin')" >Buscar Partes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>